[Desktop Entry]
Version=1.0
Type=Application
Name=H5AD Load in Shell
GenericName=H5AD Load in Shell
Comment=Shortcut to open a python shell with the H5AD file already loaded as the variable "adata"
# Change the path to the script here, or use setup_npy_scripts.sh
Exec= python3 -i /path/to/npy_viewer/h5ad_load_in_shell.py %U
MimeType=application/x-hdf
Terminal=true
# Icon=
