[Desktop Entry]
Version=1.0
Type=Application
Name=NPY File Viewer
GenericName=NPY File Viewer
Comment=Shortcut to quickly visualize NPY files (in terminal)
# Change the path to the script here
Exec = python2 /path/to/npy_file_viewer.py %U
MimeType=application/octet-stream
Terminal=true
# TryExec=
# Icon=
# Categories=
# StartupNotify=true
