[Desktop Entry]
Version=1.0
Type=Application
Name=NPY File Viewer
GenericName=NPY File Viewer
Comment=Shortcut to quickly visualize NPY files (in terminal)
# Change the path to the script here, or use setup_npy_scripts.sh
Exec= python3 /path/to/npy_viewer/npy_file_viewer.py %U
MimeType=application/octet-stream
Terminal=true
# TryExec=
# Icon=
# Categories=
# StartupNotify=true
